.container-table {
  padding: 20px 20px;
  margin: 20px;
  background: #f3f0f0;
  border-radius: 5px;
}
.table-div {
  margin: 10px 20px;
}
.table-div thead {
  margin-bottom: 120px;
}

.table-div thead tr{
  height: 50px;
  margin-bottom: 120px;
}
.table-div thead tr th {

  /* border: 1px solid red; */
}


.empthy-th{
  width: 150px;
}
.product-filter-th{
  width: 300px;
}
.items-th{
  width: 200px;
}

